.layer {
  opacity: 100%;
  transition: fill 20s ease-in 5s, opacity 10s ease-out;
}

.foreground {
  fill: #080618;
}

.midground {
  fill: #262431;
}

.background {
  fill: #7c7b7b;
}
.far-away {
  fill: #bababa;
}

.transparent {
  opacity: 0;
}

.foreground .eye {
  transition: fill 20s ease-in 5s;
  fill: rgb(197, 108, 19);
}
